    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Present-It!</h1>
                        <h3>Your daily presentations made easier and hassle free.</h3>
                        {{msg}}
                        <hr class="intro-divider">
                        <h4>Sign into your account with Google</h4>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->