<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta name="google-signin-client_id"
	content="210330844927-r3p153soqj082oi4igbmnuifnq0dj9ov.apps.googleusercontent.com">

<title>Present-It!</title>

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/landing-page.css" rel="stylesheet">
<link href="css/home-page.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"
	type="text/css">
<link
	href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
	rel="stylesheet" type="text/css">

<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
	/**
	 * Initializes the Google API JavaScript client. Bootstrap the angular module after loading the Google libraries
	 * so that Google JavaScript library ready in the angular modules.
	 */
	function init() {
		console.log("This has been called. I mean the init");
		var ROOT = 'https://yet-another-test-1261.appspot.com/_ah/api';
		gapi.client.load('presentIt', 'v1', function() {
			//doSomethingAfterLoading();
		}, ROOT);

		gapi.client.load('oauth2', 'v2', function() {
		});

		gapi
				.load(
						'auth2',
						function() {
							gapi.auth2
									.init({
										client_id : '210330844927-r3p153soqj082oi4igbmnuifnq0dj9ov.apps.googleusercontent.com',
									});
						});
	};
</script>
<script src="//apis.google.com/js/client:plusone.js?onload=init"></script>


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body ng-controller="RootCtrl" ng-app="app">

	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top topnav"
		role="navigation">
		<div class="container topnav">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand topnav" href="#">Present-It</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a ng-show='show' ng-click="signIn();">Login</a></li>
					<li><a ng-show='show' href="#">Presentation Mode</a></li>
					<li><a ng-show='hide' ng-click="signOut();">Logout</a></li>
					<li><a ng-show='hide'>{{userName}}</a></li>
					<li><img ng-show='hide' ng-src = {{imgSrc}} alt="Profile Picture" class="img-circle"
								width="30" height="30" style= "margin-top: 10px;"></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<ng-view></ng-view>

	<!-- About Modal -->
	<div class="modal fade" id="AboutModal" tabindex="-1" role="dialog"
		aria-labelledby="AboutModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="AboutModalLabel">Present-It</h4>
				</div>
				<div class="modal-body">Present-It is a complete solution
					system for your daily presentations where in you just upload your
					presentations with our system and find them accessible in your
					classroom as soon as you just walk in. Also you have the ability to
					control these presentation from your smartphone making this
					solution all the more interesting. This project is a part of the
					course work in the course Mobile Computing taught at University of
					Florida. We are doing it under the guidance of Dr. Sumi Helal. This
					project is sponsored by Google's 2016 Internet of Things (IoT)
					Technology Research Award Pilot.</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Developer Modal -->
	<div class="modal fade" id="DevModal" tabindex="-1" role="dialog"
		aria-labelledby="DevModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="DevModalLabel">The Dev Team</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-4">
							<img src="/img/sneha.jpg" alt="Sneha" class="img-circle"
								width="100" height="100">
							<p>Sneha Avuthu</p>
							<p>Email</p>
						</div>

						<div class="col-md-4">
							<img src="/img/anirudh.jpg" alt="Anirudh" class="img-circle"
								width="100" height="100">
							<p text-align:center>Anirudh Canumalla</p>
							<p text-align:center>Email</p>
						</div>

						<div class="col-md-4">
							<img src="/img/kinjal.jpg" alt="Kinjal" class="img-circle"
								width="100" height="100">
							<p>Kinjal Jain</p>
							<p>Email</p>
						</div>

						<div class="col-md-4">
							<img src="/img/arvindh.jpg" alt="Arvindh" class="img-circle"
								width="100" height="100">
							<p>Arvindh Mani</p>
							<p>Email</p>
						</div>

						<div class="col-md-4">
							<img src="/img/sruthi.jpg" alt="Sruthi" class="img-circle"
								width="100" height="100">
							<p>Sruthi Vasireddy</p>
							<p>Email</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="list-inline">
						<li><a href="#">Home</a></li>
						<li class="footer-menu-divider">|</li>
						<li><a role="button" data-toggle="modal"
							data-target="#AboutModal">About</a></li>
						<li class="footer-menu-divider">|</li>
						<li><a role="button" data-toggle="modal"
							data-target="#DevModal">Developers</a></li>
					</ul>
					<p class="copyright text-muted small">Sponsored by: Google's
						2016 Internet of Things (IoT) Technology Research Award Pilot.</p>

				</div>
			</div>
		</div>
	</footer>

	<!-- jQuery -->
	<script src="/js/jquery.js"></script>
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="js/app.js"></script>

</body>

</html>